

<div class="text-center">

    <h1 class="display-4"> Sebastian Huanca Ardiles</h1>

    <h2 style="margin: 2rem 0">Soy un desarrollador full stack especializado en tecnologias .net y JavaScript</h2>

    <img id="foto" src="~/imagenes\Presentacion.png" alt="Foto de Seba" />

</div>

<div class="text-center">
    <img id="imagen-dotnet" src="~/imagenes/dotnet-imagen-2.png" alt="dotnet logo" />

</div>

<div>
    <div class="row justify-content-center text-center bg-primary">
        <div class="col col-md-7 seccion-bienvenida">
            <h1>Te doy la bienvenida a mi portafolio</h1>

            <p>
                Como recién graduado en Ingeniería en Computación e Informática, mi objetivo es aplicar mis conocimientos académicos en tecnología,
                específicamente en desarrollo de software, inteligencia artificial y seguridad informática.
                Poseo habilidades clave en programación y análisis de sistemas, destacándome por mi rápida capacidad de aprendizaje y adaptabilidad,
                esenciales en la industria tecnológica dinámica. Estoy motivado para contribuir y crecer profesionalmente en un entorno colaborativo,
                aportando competencia técnica, actitud proactiva, y un fuerte compromiso con la excelencia e innovación.
            </p>

        </div>

    </div>
</div>